{% assign years = site.posts | group_by_exp: "item", "item.date | date: '%Y' " | map:"name" %}
<div class="tag-category-list">
  <ul class="p-0 m-0">
    {% for year in years %}
      <li>
        <i class="fa-solid fa-calendar fa-sm"></i> <a href="{{ year | slugify | prepend: '/events/' | relative_url }}">{{ year }}</a>
      </li>
      {% unless forloop.last %}
        <p>&bull;</p>
      {% endunless %}
    {% endfor %}
  </ul>
</div>