{% assign featured_posts = include.postlist %}
{% if featured_posts.size > 0 %}
<div class="container featured-posts">
  {% assign is_even = featured_posts.size | modulo: 2 %}
  <div class="row row-cols-2">
  {% for post in featured_posts %}
    <div class="card-item col">
      <div class="card hoverable">
        <div class="card-body">
          <a href="{{ post.url | relative_url }}">
            <div class="card-title">
              <h3>{{ post.title }}</h3>
              <h4>{{ post.speaker }}</h4>
            </div>
            <div class="card-text">{%- if post.description -%}{{ post.description }}{%- else -%}{{ post.excerpt }}{%- endif -%}</div>
            </a>

            <div class="post-footer">
              <div class="post-meta">
                {% include snippets/show_date.liquid 
                  date = post.date
                  format = "short"
                  %}
                {% if categories != "" %}
                  &nbsp; &middot; 
                  {% for category in post.categories %}
                    &nbsp;
                    {% include snippets/show_category.liquid 
                      category = category
                      active = true
                      %}
                  {% endfor %}
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
    </div>
  {% endfor %}
  </div>
</div>
<hr>
{% endif %}