---
layout: page
---

<!-- about.html -->
      <div class="post">

        <article>
          {{ content }}
          
          {% if page.profiles -%}
          {% for profile in site.profiles %}
          <hr>
          <div class="profile float-{%- if profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if profile.image %}
              {%- assign profile_image_path = profile.image | prepend: 'assets/img/' -%}

              {% if profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}

              {% include figure.html
                path = profile_image_path
                class = profile_image_class
                sizes = sizes
                alt = profile.name 
              %}
            {% endif -%}
            {%- if profile.more_info %}
            <div class="more-info">
              {{ profile.more_info }}
            </div>
            {%- endif %}
          </div>

          <div class="clearfix">
            <h2>{{ profile.name }}</h2>
            <h3>{{ profile.position }}</h3>
            {% if profile.content -%}
            {{ profile.content | markdownify }}
            {%- else -%}
            {{ content }}
            {%- endif %}
            <p><a href="{{ profile.homepage }}">Personal webpage</a></p>
          </div>

          {% endfor %}
          {%- endif %}
        </article>

</div>
